<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty & Shoes E-Commerce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="app">
        <!-- Login Screen -->
        <section id="login" class="screen active">
            <div class="login-container">
                <h1>Iniciar Sesión</h1>
                <form action="{{ url_for('iniciar_sesion.iniciar_sesion') }}" id="login-form" method="POST">
                    <input type="email" name="correo" placeholder="Correo o Teléfono" required>
                    <input type="password" name="contrasenia" placeholder="Contraseña" required>
                    <button type="submit">Iniciar Sesión</button>
                </form>
                <div class="social-login">
                    <button class="google-btn">Continuar con Google</button>
                    <button class="facebook-btn">Continuar con Facebook</button>
                </div>
                <p>¿No tienes cuenta? <a href="{{ url_for('registrarse.registro') }}" id="to-register" >Regístrate</a></p>
            </div>
        </section>
</body>
</html>